<!-- header-start -->
	<header>
		<div class="header-area ">
			<div class="header-top_area">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-6 col-md-12 col-lg-8">
							<div class="short_contact_list">
								<ul>
									<li><a href="#"> <i class="fa fa-phone"></i> +1 (454)
											556-5656
									</a></li>
									<li><a href="#"> <i class="fa fa-envelope"></i>daoduc132@gmail.com
									</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-6 col-md-6 col-lg-4">
							<div class="social_media_links d-none d-lg-block">
								<a th:if=${session.user_id==null} href="/"
									th:href="@{/user/loginform}"> Sign in </a> <a
									th:if=${session.user_id==null} href="/"
									th:href="@{/user/registrationform}"> Sign up </a> <a
									th:if=${session.user_id!=null} th:text="${session.user_name}"></a>
								<a th:if=${session.user_id!=null} href="/"
									th:href="@{/user/logout}"> Log out </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sticky-header" class="main-header-area">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-xl-3 col-lg-3">
							<div class="logo">
								<a th:href="@{/home/index}"> <img src="../img/logo.png" alt="">
								</a>
							</div>
						</div>
						<div class="col-xl-9 col-lg-9">
							<div class="main-menu">
								<nav>
									<ul id="navigation">
										<li><a th:href="@{/home/index}">Home</a></li>
										<li><a th:href="@{/topic/all}">Topic</a></li>
										<li><a th:if="${session.role=='ADMIN'}" th:href="@{/admin}">Admin</a></li>
									</ul>
								</nav>
								
							</div>
						</div>
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- header-end -->